* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif; }

    :root {
        --main-color: #FBFEFB;
        --primary-color:#EFE5DC;
        --secondary-color:#F3D8C7;
        --third-color:#D0B8AC;
        --fourth-color: #c9c0b7;
        --obscure-color: #827b75; }
      
      body {
        background-color: var(--main-color); }
      
      section {
        overflow-x: hidden; }
      
      section::-webkit-scrollbar {
        appearance: none; }
      
      header {
        overflow-x: hidden; }


@import '../scss/sections/_index.scss';

@import "../node_modules/bootstrap/scss/bootstrap";